{
  "presets": ["next/babel"],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    "babel-plugin-transform-typescript-metadata",
    "superjson-next",
    ["@babel/plugin-proposal-decorators", { "legacy": true }]
  ]
}
